<thy-layout>
  <thy-header class="app-header" thyTitle="Demo">
    <ng-template #headerContent>
      <div>
        <thy-nav thyType="pulled">
          <a
            *ngFor="let item of navList"
            thyNavItem
            [thyNavItemActive]="item.index === activeIndex"
            [routerLink]="item.link"
            (click)="activeIndex = item.index"
          >{{ item.name }}</a
          >
        </thy-nav>
      </div>
    </ng-template>
  </thy-header>
  <thy-divider class="app-divider"></thy-divider>
  <thy-layout style="padding: 20px">
    <router-outlet></router-outlet>
  </thy-layout>
</thy-layout>
