<!--<div class="container">-->
<!--  <h1 class="title">-->
<!--    {{ 'PAGES.HOME.TITLE' | translate }}-->
<!--  </h1>-->

<!--  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>-->
<!--</div>-->

<thy-layout>
  <thy-header thyTitle="talk is cheap show me the code">
    <ng-template #headerContent>
      <div></div>
    </ng-template>
  </thy-header>
  <thy-layout style="height: 100px">
    <!--    <thy-sidebar thyHasBorderRight="false"> Sidebar </thy-sidebar>-->
    <router-outlet></router-outlet>
  </thy-layout>
</thy-layout>
